---
const { name, amount, description, isReward } = Astro.props;
---
<h4>{name}!</h4>
{isReward && <p><strong>A partir de:</strong></p>}
<h1>R$ {amount},00</h1>
<p>{description}</p>

<p><br/></p>

<style>
    h1 {
		text-align: center;
		color: var(--ciano);
        filter: drop-shadow(0px 6px 0px var(--azul-escuro)) 
			drop-shadow(0px -1px 0px var(--azul-escuro))
			drop-shadow(1px 0px 0px var(--azul-escuro))
			drop-shadow(-1px 0px 0px var(--azul-escuro));
		margin: auto;
	}
    
    h4 {
		color: var(--azul-escuro);
	}
   
    p {
		color: var(--azul-medio);
		text-align: center;
		margin: 1em auto 0;
	}
</style>