---
const urlApoiaSe = 'https://apoia.se/peladananet'
const urlPatreon = 'https://www.patreon.com/peladananetpodcast'
---


<h4>Obrigado aos colaboradores de Setembro/2025</h4>
<h5>Em especial aos que contribuíram com R$5 ou mais</h5>
<p>
    Adriana Cristina Alves Pinto Gioielli | Adriano Marin Da Silva | Adriano Nazário | André William Jacyntho | Douglas Kendy Taguchi | Fellipe Miranda | Fernando Costa Campos | Gabriel Machado De Freitas | Guilherme Drigo | Guilherme Rezende Soria | Heverton Coneglian De Freitas | Higor Nunes Resende | Higor Pêgas Rosa De Faria | Ítalo Leandro Freire De Albuquerque | João Paulo Lobo Marins | Joao Pedro Barros Barbosa | Leonardo Delefrate | Luis Henrique Santos | Luiz Felipe Petri | Luiz Guilherme Borges Silva | Messias Feitosa Santana | Pedro Marcelo Rocha Gomes | Rafael Brandão Brasil | Renata Pereira R Silva | Renato De Macedo | Renato Grigoli Pereira | Rodrigo Mathias | Rodrigo Petriche | Stéfano Bellote | Thais Cristine Cavalcanti | Vanessa Fontana | André Siqueira | André Stábile | Arthur Takeshi Gonçalves Murakawa | Brayan Ksenhuck | Caio Fonseca | Concílio Silva | Cristiane Cardoso Avolio Gomes | Davi Andrade | Filipi Froufe | Heitor Dias | Igor Trusz | Jhonathan Romão | Josué Solano De Barros | Khayan Joaquim Macedo Lima | Leonardo Lachi Manetti | Listen2urs2 (Listen Tchu Iór Rârrtchi)) | Luan Silva Rodrigues | Lucas Freitas | Lucas Pereira De Aguiar Afonso | Luis Alberto De Seixas Buttes | Matheus Costa Marques | Paulo Jose Oliveira C Junior | Paulo Vitor Nogueira Sales | Pedro Lauria | Rafael Gomes Da Silva | Robson De Sousa | Vinícius Nogueira Cavalcanti | Thiago Lins | Hassan Jorge | Diego Santos | Felipe Avelar | Susana Pérez | Leonardo Motta | Luis Alexandre Dalposso | Felipe Pastor | Bruno Franzini | David Gilvan | Adryel Romeiro | Aline Aparecida Matias | Antonino Firmino Da Silva Neto | Arthur Meister Wistuba | Bruno Kellton | Bruno Marques Monteiro | Carlos Eduardo Ardigo | Daniel Pandeló Corrêa | Débora Mazetto | Elisnei Menezes De Oliveira | Evilasio Costa Junior | Fabio Simoes | Felipe Brasil | Felipe De Amorim Prestes | Felipe Duarte | Gabriel Frizzo | Gabriel Lecomte | Gabriel Lopes Dos Santos | George Alfradique | Guilherme Pereira Mendes | Gustavo Henrique Rossini | Ian Campelo Da Silva | Jailson Gomes | João Pedro Machareth | Jose Wellington De Moura Melo | Luca Vianna | Marcelo São Martinho Cabral | Marcio Leandro Lima Dos Santos | Marco Antônio Maassen Da Silva | Marianna Feitosa | Mario Peixoto | Matheus Andion De Souza Vitorino | Matheus Bezerra Lucas Bittencourt | Maxwell Dos Santos Nelle | Pedro Bonifácio | Pedro Henrique Tonetto Lopes | Rafael Manenti | Rafael Matis | Rainer Almeida | Raphael Piccoli | Rodrigo Oliveira Porto | Thiago Nogueira Marcal | Tiago Weiss | Vander Carlos Ribeiro Vilanova | Vinícius Lima Silva | Vinícius Ramalho | Vinicius Verissimo Lopes | Vitor Flauzino | Vitor Motta Vigerelli | Wendel Ferreira Santiago | Wladimir Araújo Neto | Leonardo Pimentel | Marco Antônio Rodrigues Júnior (Markão) | Bruno Macedo | Henrique Zani | Pedro Henrique De Paula Lemos | Victor Rodrigues | Daniel Moreira | Luiz Strina | Fernando Pereira | Lucas, O Fofo | Luis Beça | Ryan Smallman | Albert José | Yan Andrade | Raphael De Souza | Thiago Goncales | Arthur Souza Miranda | Alvaro Modesto | Daniel Ferreira De Lima Vilha | Felipe Artemio | Tatiane Oliveira Ferreira | Bruno Vieira Silva | Itallo Rossi Lucas | Maicon Feldhaus | Bruna Almeida | Abigail
</p>

<style>
    h4, h5, p {
        color: var(--azul-escuro);
        text-align: center;
    }
</style>