---
const logo = '/pelada-na-net.png';
---

<div class="logo">
	<img src={logo} />
</div>
<style>
	.logo {
		background-image: url(bg-logo.png);
		background-position: center;
		background-size: cover;
		background-color: var(--azul-fundo-logo);
		line-height: 0;
		text-align: center;
	}
	
	img {
		margin: 3em auto;
	}
</style>
