---
const recordingLine = [
  //"COACH CAÊ", -> #781 2026-04-08
  //"DANIEL DE ANDREA ROMA", -> #782 2026-04-13
  // "Odair Braz Júnior", -> #784 2026-04-23
  //"Rodrigo Sarmento", -> #783 2026-04-17
  //"Lucas Aquino do Prado", -> #784 2026-04-23
  //"Bruno Vieira Silva", -> #786 2026-04-30
  //"Isabella de Oliveira Gonzaga Morassi (Bruno Bronko, marido dela)", -> #786 2026-04-30
  "RICARDO LOMBA DE ARAUJO JUNIOR",
  "ITALO LEANDRO FREIRE DE ALBUQUERQUE",
  "Lucas Ladeira",
  "JOSE REIS NETO",
  "JOAO PAULO OLIVEIRA COSTA",
  "Higor Pêgas Rosa de Faria",
  "LEANDRO CUNHA DINIZ BRAS",
  "Gabriel Lecomte Pinho e Souza",
  "Albert José de Souza",
  "Pedro Lauria",
  "MARCUS VINICIUS DE FREITAS",
  "Isabelle Zacara",
  "Elvis Bezerra Viana",
  "BRUNO BURKART",
  "WILLIAM PINHEIRO DOS SANTOS",
  "Felipe Cavallaro Trindade",
  "Victor Raimundi Brandao Alberto de Mello",
  "ALEXANDRE CAIEIRO DA COSTA",
  "JULIANA ROSSA NUNES",
  "VINICIUS COSTA AFFONSO",
  "VINICIUS MARCONATO CATALDI",
  "WILLIAN TALON PEREIRA",
  "RENAN DOS SANTOS DE OLIVEIRA",
  "Kim Pedro Goncalves",
  "ENGELS MARX DINIZ NEVES",
  "MAURICIO ADAMS",
  "Fabricio da Silva Hoepers",
  "Joao Victor Sales Souza",
  "RAONI DINIZ NEVES",
  "FABIANO LUIZ BORBA",
  "DOUGLAS CORDEIRO ALENCAR SILVA",
  "VINICIUS ATHANASOPOULOS",
  "RODRIGO PEREIRA MORAES",
  "Douglas Rodrigues Pinto Neto",
  "Kassio Lohner Prado",
  "Isabelle Zacara",
  "Pedro Lauria",
  "Rodrigo Sarmento",
  "Vitor De Almeida Flauzino",
  "Victor Rogerio Coelho Da Silva",
  "Leonardo Lachi Manetti",
  "Abigail",
  "Fabiano Agostinho Pereira",
  "Thais Cristine Cavalcanti",
  "Luis Mario Rosa",
  "Henrique Zani Seballos",
  "Marco Antonio Mariotti Picon",
  "Thiago Lara Da Rocha",
  "Jéssica Magalhães"
];

const formatName = (name: string) => {
  return name
    .toLowerCase()
    .split(" ")
    .map(word => word.charAt(0).toUpperCase() + word.slice(1))
    .join(" ");
};
---

<div id="RecordingLine">
	<main>
		<h1>Fila de gravação!</h1>
		
		<br/>

		<h4>Ouvintes Gabu ordenados a serem convidados para as próximas gravações.</h4>
		
		<br/>

		<ul>
			{recordingLine.map((name, index) => (
			<li>
				<span class="lineIndex">{index + 1}</span>
				<span class="lineName">{formatName(name)}</span>
			</li>
			))}
		</ul>

		<br/>

		<h5>Muito obrigado mais uma vez pela força que deram pra mim e pro meu cachorro.</h4> 
        
        <br/>
    
        <h1>Vocês são incríveis.</h1>
	</main>
</div>

<style>
	div {
		background-color: var(--azul-medio);
	}

	main {
		padding: 3em auto;
	}

	ul {
		text-align: center;
		list-style: none;
		padding: 0;
		margin: 0;
	}
	
	.lineIndex {
		font-weight: bolder;
		color: var(--ciano);
	}

	.lineName {
		color: var(--branco);
	}

	h1 {
		text-align: center;
		color: var(--amarelo);
		margin: auto;
	}

	h4 {
		text-align: center;
		color: var(--branco);
		margin: 0 auto;
	}
	
	h5 {
		text-align: center;
		color: var(--branco);
		margin: 0 auto;
	}

	p {
		text-align: center;
		color: var(--branco);
		margin: 1em auto 0;
	}

	.icons {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 1em;
		margin: 0 auto;
	}

	.icons a {
		text-decoration: none;
		color: var(--amarelo);
	}

	.icons a:hover {
		color: var(--ciano);
	}

	blockquote {
		color: var(--amarelo);
		border-left: 4px solid var(--branco);
	}
	
	a {
		color: var(--amarelo);
	}

	a:hover {
		color: var(--ciano);
	}
</style>
